Demos/WorkFlowDemo/WorkFlowDemo2.Client/Service References/DocumentServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1689/DocumentService.xamlx?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/WorkFlowDemo1.Service" />
      <xsd:import schemaLocation="http://localhost:1689/DocumentService.xamlx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_CreateDocument_InputMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WorkFlowDemo1.Service" name="Document" element="q1:Document" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_CreateDocument_OutputMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WorkFlowDemo1.Service" name="DocumentResponse" element="q2:DocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_UpdateDocument_InputMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WorkFlowDemo1.Service" name="Document" element="q3:Document" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_UpdateDocument_OutputMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WorkFlowDemo1.Service" name="DocumentResponse" element="q4:DocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="CreateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/CreateDocument" message="tns:IDocumentService_CreateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/CreateDocumentResponse" message="tns:IDocumentService_CreateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocumentService/UpdateDocument" message="tns:IDocumentService_UpdateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocumentService/UpdateDocumentResponse" message="tns:IDocumentService_UpdateDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocumentService" type="tns:IDocumentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/CreateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap:operation soapAction="http://tempuri.org/IDocumentService/UpdateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IDocumentService" binding="tns:BasicHttpBinding_IDocumentService">
      <soap:address location="http://localhost:1689/DocumentService.xamlx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>