Extra modules/HOL Extra - Eval/Start/Eval.Web/Service References/EvalServiceReference/Eval_Orchestrations_ProcessEvals_EvalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://Eval.Schemas.Evaluation" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://Eval.Schemas.Evaluation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Evaluation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TrainingCourse" type="xs:string" />
        <xs:element name="Student" type="xs:string" />
        <xs:element name="Rating" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>