Labs/Lab 6/Completed/NWBusinessSolution/FKMessaging/Web References/localhost/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PostOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="s0:SuppOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SuppOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customerPONumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PostOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </types>
  <message name="PostOrderSoapIn">
    <part name="parameters" element="s0:PostOrder" />
  </message>
  <message name="PostOrderSoapOut">
    <part name="parameters" element="s0:PostOrderResponse" />
  </message>
  <portType name="SuppServiceSoap">
    <operation name="PostOrder">
      <input message="s0:PostOrderSoapIn" />
      <output message="s0:PostOrderSoapOut" />
    </operation>
  </portType>
  <binding name="SuppServiceSoap" type="s0:SuppServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="PostOrder">
      <soap:operation soapAction="http://tempuri.org/PostOrder" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SuppService">
    <port name="SuppServiceSoap" binding="s0:SuppServiceSoap">
      <soap:address location="http://localhost/supplierservice/service1.asmx" />
    </port>
  </service>
</definitions>